@use 'variables' as v;

img {
  height: 100%;
  width: auto;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 220px);

  .card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: auto;
    border: 1px solid black;
    margin: 30px 0;
    box-shadow: 0 5px 8px black, 0 6px 7px black;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding: 30px;
    background-color: v.$primary-color;

    &:hover {
      transform: scale(1.01);
      box-shadow: 0 14px 28px black, 0 10px 10px black;
    }

    .top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
      margin-bottom: 30px;

      .slideshow {
        align-self: center;
        width: 650px;
        height: 365px;
        position: relative;

        .slide {
          animation-name: fade;
          animation-duration: 1.5s;
          display: none;
          position: relative;

          .card-image {
            width: 650px;
            height: 365px;
          }

          .prev, .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            margin-top: -22px;
            padding: 12px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
            background-color: rgba(0,0,0,0.2);
            text-decoration: none;

            &:hover {
              background-color: rgba(0,0,0,0.8);
            }
          }

          .prev {
            left: 0;
          }

          .next {
            right: 0;
            border-radius: 3px 0 0 3px;
          }

          @keyframes fade {
            from {opacity: .4}
            to {opacity: 1}
          }
        }
      }

      .card-info {
        flex-grow: 1;
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .card-text {
          height: calc(100% - 75px);

          h3 {
            font-size: 35px;
            margin-bottom: 10px;
            color: v.$secondary-color;
          }

          p {
            max-height: 323px;
            overflow: auto;
            font-size: 18px;
            margin-bottom: 10px;
            color: v.$background-color;
          }
        }
      }
    }

    .info-bar {
      height: 90px;
      gap: 10px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;

      .tech {
        flex-grow: 1;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .tech-icon {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 90px;
          position: relative;
          width: 90px;

          img {
            height: 70px;
            width: 70px;
          }

          .name {
            opacity: 0;
            transition: all .12s ease-in-out;
            position: absolute;
            top: 85px;
            font-weight: bold;
            font-size: 18px;
            color: v.$background-color;
          }

          &:hover .name {
            opacity: 1;
          }
        }
      }

      .links {
        border-left: 2px solid black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;

        .demo-link {
          height: 65px;
          margin-left: 50px;
        }

        .github-link {
          height: 70px;
          margin-left: 20px;
        }
      }

      a {
        transition: opacity .19s ease-in-out;

        &:hover {
          opacity: .5;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .cards {
    width: calc(100% - 120px);

    .card {
      min-height: 200px;
      padding: 15px;
      margin: 15px 0;

      .top {
        flex-grow: 1;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .card-image {
          width: 100%;
          height: auto;
        }

        .card-info {
          order: -1;
          min-height: 0;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          .card-text {

            h3 {

            }

            p {
              display: none;
            }
          }
        }
      }

      .info-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;

        .tech {
          .tech-icon {
            height: 30px;
          }
        }

        .links {
          display: none;

          .demo-link {
            height: 30px;

          }

          .github-link {
            height: 30px;

          }
        }

        a {


          &:hover {

          }
        }
      }
    }
  }
}
