@use 'variables' as v;

* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: v.$background-color;
  box-shadow: 0 3px 10px black;

  .navbar-brand {
    color: v.$primary-color !important;
  }

  .nav-link.active {
    opacity: 1 !important;
  }

  .nav-link {
    color: v.$primary-color !important;
    opacity: .6;
    transition: opacity .2s ease-in-out;

    &:hover {
      opacity: .9;
    }
  }

  .navbar-brand {
    font-size: 30px;
  }

  .navbar-nav {
    font-size: 20px;
  }
}

.socials {
  position: fixed;
  top: 120px;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;

  a {
    width: 30px;
    margin: 10px 30px;
    transition: opacity .15s ease-in-out;

    &:hover {
      opacity: .5;
    }

    svg {
      width: 100%;
      height: auto;
      stroke: v.$primary-color;
      fill: v.$background-color;
    }

    .email {
      fill: v.$primary-color;
    }
  }
}


.nav-link.resume-button {
  opacity: 1 !important;
  border: 1px solid v.$secondary-color !important;
  color: v.$secondary-color !important;
  border-radius: 12px !important;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) !important;

  &:hover {
    border-radius: 5px !important;
    background-color: v.$primary-color !important;
    transform: translateY(-5px) scale(1.05) !important;
    box-shadow: 0 5px 10px v.$primary-color !important;
  }

  svg {
    width: 30px !important;
    height: auto !important;
    fill: v.$secondary-color !important;
    stroke: v.$secondary-color !important;
  }
}
