@use 'variables' as v;

* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: v.$background-color;
  box-shadow: 0 1px 10px black;

  .navbar-toggler {
    border-color: v.$primary-color !important;

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(238 238 238)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
  }

  .navbar-brand {
    color: v.$primary-color !important;
  }

  .nav-link.active {
    opacity: 1 !important;
  }

  .nav-link {
    color: v.$primary-color !important;
    opacity: .6;
    transition: opacity .2s ease-in-out;

    &:hover {
      opacity: .9;
    }
  }

  .navbar-brand {
    font-size: 30px;
  }

  .navbar-nav {
    font-size: 20px;
  }
}

.socials {
  position: fixed;
  top: 120px;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;

  a {
    width: 30px;
    margin: 10px 30px;
    transition: opacity .15s ease-in-out;

    &:hover {
      opacity: .5;
    }

    svg {
      width: 100%;
      height: auto;
      stroke: v.$primary-color;
      fill: v.$background-color;
    }

    .email {
      fill: v.$primary-color;
    }
  }
}


.nav-link.resume-button {
  opacity: 1 !important;
  border: 1px solid v.$primary-color !important;
  color: v.$primary-color !important;
  border-radius: 12px !important;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) !important;

  &:hover {
    border: 1px solid black !important;
    color: black !important;
    border-radius: 5px !important;
    background-color: v.$primary-color !important;
    transform: translateY(-5px) scale(1.05) !important;
    box-shadow: 0 5px 8px v.$primary-color !important;

    svg {
      fill: black !important;
      stroke: black !important;
    }
  }

  svg {
    width: 30px !important;
    height: auto !important;
    fill: v.$primary-color !important;
    stroke: v.$primary-color !important;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) !important;
  }
}

@media screen and (max-width: 900px) {
  .resume-button {
    margin-top: 8px !important;
    display: flex !important;
    place-content: center !important;
    width: 140px !important;
    padding: 5px 10px !important;
  }

  .socials {
    position: fixed;
    top: 120px;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;

    a {
      width: 1.5rem;
      margin: 10px 1.5rem;
      transition: opacity .15s ease-in-out;

      &:hover {
        opacity: .5;
      }

      svg {
        width: 100%;
        height: auto;
        stroke: v.$primary-color;
        fill: v.$background-color;
      }

      .email {
        fill: v.$primary-color;
      }
    }
  }
}
