@use '../../global';
@use '../../cards';
@use '../../variables' as v;

img {
  height: 100%;
  width: auto;
}

.projects-page {
  padding: 0;
  margin: 0;
  background-color: v.$background-color;
  color: v.$primary-color;

  .projects-container {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .projects-header {
      width: 85%;
    }
  }
}

@media screen and (max-width: 900px) {

  .projects-page {
    min-height: 100vh;
  }
}
