* {
  margin: 0;
  padding: 0;
}

img {
  height: 100%;
  width: auto;
}

a {
  transition: opacity .15s ease-in-out;

  &:hover {
    opacity: .75;
  }
}

.projects-page {
  padding: 0;
  margin: 0;

  .projects-container {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .projects-header {
      width: 85%;
    }

    .socials {
      position: fixed;
      top: 120px;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100px;

      a {
        width: 30px;
        margin: 10px 30px;
        transition: opacity .15s ease-in-out;

        &:hover {
          opacity: .75;
        }

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .project-cards {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;
      width: 100%;

      .project-card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 85%;
        height: auto;
        border: 1px solid black;
        margin: 30px 0;
        box-shadow: 0 5px 8px rgba(0,0,0,0.12), 0 6px 7px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        padding: 20px;

        &:hover {
          box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }

        .project-image {
          width: 38%;
          align-self: center;
        }

        .project-info {
          width: 58%;
          min-height: 300px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .project-text {
            height: calc(100% - 75px);

            h2 {
              margin-bottom: 10px;
            }

            p {
              margin-bottom: 10px;
            }
          }

          .info-bar {
            height: 75px;
            gap: 10px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;

            .tech {
              flex-grow: 1;
              border: 2px solid black;
              display: flex;
              justify-content: space-around;
              align-items: center;
              padding: 10px;

              .tech-icon {
                height: 70px;
              }
            }

            .links {
              border: 2px solid black;
              display: flex;
              justify-content: space-around;
              align-items: center;
              padding: 10px;

              .demo-link {
                height: 70px;
                margin-left: 20px;
              }

              .github-link {
                height: 70px;
              }
            }
          }
        }
      }
    }
  }
}
