* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #31363F;
  box-shadow: 0 1px 10px black;
}
.navbar .navbar-toggler {
  border-color: #EEEEEE !important;
}
.navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(238 238 238)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar .navbar-brand {
  color: #EEEEEE !important;
}
.navbar .nav-link.active {
  opacity: 1 !important;
}
.navbar .nav-link {
  color: #EEEEEE !important;
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
}
.navbar .nav-link:hover {
  opacity: 0.9;
}
.navbar .navbar-brand {
  font-size: 30px;
}
.navbar .navbar-nav {
  font-size: 20px;
}

.socials {
  position: fixed;
  top: 120px;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 0 30px;
}
.socials a {
  width: 30px;
  margin: 10px 0;
  transition: opacity 0.15s ease-in-out;
}
.socials a:hover {
  opacity: 0.5;
}
.socials a svg {
  width: 100%;
  height: auto;
  stroke: #EEEEEE;
  fill: #31363F;
}
.socials a .email {
  fill: #EEEEEE;
}

.nav-item.resume {
  display: flex;
  align-items: center;
}

.nav-link.resume-button {
  opacity: 1 !important;
  color: #EEEEEE !important;
  background-color: #2099ea;
  box-shadow: 3px 5px 3px black !important;
  border-radius: 8px !important;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 120px !important;
  padding: 3px 7px !important;
}
.nav-link.resume-button:hover {
  color: #2099ea !important;
  border-radius: 3px !important;
  background-color: #EEEEEE !important;
  transform: scale(1.05) !important;
  font-weight: 500;
}

@media screen and (max-width: 991px) {
  .resume-button {
    margin-top: 8px !important;
  }
  .socials {
    margin: 15px;
    top: 110px;
  }
  .socials a {
    width: 25px;
    margin: 5px 0;
  }
}
@media screen and (max-width: 550px) {
  .navbar-brand.ms-5 {
    font-weight: 900 !important;
    margin-left: 0 !important;
  }
  .navbar-toggler.me-5 {
    margin-right: 0 !important;
  }
}
img {
  height: 100%;
  width: auto;
}

.work-page {
  padding: 0;
  margin: 0;
  background-color: #31363F;
  color: #EEEEEE;
  min-height: 100vh;
}
.work-page .work-container {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.work-page .work-container .work-header {
  width: calc(100% - 220px);
}
.work-page .work-container .timeline {
  width: calc(100% - 220px);
  display: flex;
  margin: 30px 0;
  align-items: flex-start;
}
.work-page .work-container .experiences {
  position: relative;
  width: 280px;
  margin-right: 2rem;
}
.work-page .work-container .experiences ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}
.work-page .work-container .experiences ul li {
  position: relative;
  margin: 2rem 0;
  padding-left: 32px;
  cursor: pointer;
  transition: color 0.3s;
  line-height: 2;
  font-size: 23px;
  color: rgba(238, 238, 238, 0.75);
}
.work-page .work-container .experiences ul li::before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0.2%;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #EEEEEE;
  transition: all 0.3s;
}
.work-page .work-container .experiences ul li.active {
  color: #2099ea;
  font-weight: 600;
  opacity: 1;
}
.work-page .work-container .experiences ul li.active::before {
  left: 0.1%;
  background: #2099ea;
  width: 14px;
  height: 14px;
}
.work-page .work-container .experiences .line {
  position: absolute;
  left: 6px;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #EEEEEE;
}
.work-page .work-container .cards {
  flex: 1;
}
.work-page .work-container .cards .card {
  display: none;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  background: #EEEEEE;
  border-radius: 16px;
  box-sizing: border-box;
  animation: fadeIn 0.5s ease;
  box-shadow: 0 5px 8px black, 0 6px 7px black;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
}
.work-page .work-container .cards .card.active {
  display: block;
}
.work-page .work-container .cards .card h2 {
  margin: 0;
  font-size: 2rem;
  color: #31363F;
}
.work-page .work-container .cards .card .role {
  margin: 0.5rem 0 1rem;
  font-size: 1.2rem;
  color: #2099ea;
  font-weight: 500;
}
.work-page .work-container .cards .card .date-range {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.2rem;
  color: #31363F;
  font-weight: bold;
}
.work-page .work-container .cards .card .description {
  overflow-y: auto;
  flex: 1;
  color: #31363F;
  max-height: calc(100vh - 500px);
}
.work-page .work-container .cards .card .icons {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  height: 85px;
}
.work-page .work-container .cards .card .icons .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  color: #31363F;
  width: 90px;
}
.work-page .work-container .cards .card .icons .icon span {
  opacity: 0;
  transition: all 0.12s ease-in-out;
  position: absolute;
  top: 80px;
}
.work-page .work-container .cards .card .icons .icon img {
  height: 65px;
  width: 65px;
}
.work-page .work-container .cards .card .icons .icon:hover span {
  opacity: 1;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 991px) {
  .work-page {
    height: auto;
  }
  .work-page .work-container {
    padding: 20px 0;
    align-items: flex-start;
  }
  .work-page .work-container .work-header {
    width: calc(100% - 120px);
    padding-left: 20px;
  }
  .work-page .work-container .timeline {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    margin: 0 0;
  }
  .work-page .work-container .timeline .experiences {
    width: auto;
    margin: 0;
  }
  .work-page .work-container .timeline .experiences li {
    font-size: 17px;
    line-height: 0.3;
  }
  .work-page .work-container .timeline .experiences li::before {
    width: 9px;
    height: 9px;
    left: 1.466%;
  }
  .work-page .work-container .timeline .experiences li.active::before {
    width: 10px;
    height: 10px;
    left: 0.9%;
  }
  .work-page .work-container .timeline .cards {
    align-self: start;
    width: 100%;
    height: 500px;
  }
  .work-page .work-container .timeline .cards .card {
    width: 100%;
    padding: 0.8rem;
  }
  .work-page .work-container .timeline .cards .card h2 {
    font-size: 1.4rem;
  }
  .work-page .work-container .timeline .cards .card .role {
    font-size: 1.1rem;
    margin: 0.2rem 0 0.3rem;
  }
  .work-page .work-container .timeline .cards .card .date-range {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 1.2rem;
    right: 1.2rem;
  }
  .work-page .work-container .timeline .cards .card .date-range .date-dash {
    display: none;
  }
  .work-page .work-container .timeline .cards .card .description {
    max-height: calc(100vh - 600px);
    font-size: 0.8rem;
  }
  .work-page .work-container .timeline .cards .card .icons {
    height: 65px;
    margin-top: 10px;
  }
  .work-page .work-container .timeline .cards .card .icons .icon {
    width: 70px;
    font-size: 15px;
  }
  .work-page .work-container .timeline .cards .card .icons .icon img {
    height: 40px;
    width: 40px;
  }
  .work-page .work-container .timeline .cards .card .icons .icon span {
    top: 55px;
    font-size: 12px;
  }
}

/*# sourceMappingURL=work.css.map */
